#Anwendungsbeispiele {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #Anwendungsbeispiele td, #Anwendungsbeispiele th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #Anwendungsbeispiele tr:nth-child(even){background-color: #f2f2f2;}

  #Anwendungsbeispiele tr:hover {background-color: #ddd;}

  #Anwendungsbeispiele th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #BDBDBD;
    color: rgb(0, 0, 0);
  }

  .background{
    background-color:#F2E21B;
    color:black;
    padding:10px
  }
